body {
	background-color: #2ecc71;
	color: #000000;
}



#logo {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

#adoption {
	font-size: 80px;
	font-family: 'Droid Sans', sans-serif;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	float: right;
}

.information h2 {
	color: #000000;
}

.information h3 {
	color: #000000;
}

#logo img {
	width: 200px;
}

.container {
	background: rgba(255, 255, 255, .4);
}

.container-navbar {
	width: 1170px;
}

.navbar-fixed-top {
	margin-right: -15px;
	margin-left: -15px;
}

#application {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#updates {
	text-align: center;
}